.bg-1 {
  background-image: url("../img/Bg-Dark.png");
  background-position: center;
  background-size: cover;
}
#hero {
  height: 90vh;
  border-bottom: 3px solid #616161;
}

#quienes-somos {
  background-image: url("../img/Bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-top: 3px solid #616161;
}
.bg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 2px, transparent 2px),
    radial-gradient(rgba(0, 0, 0, 0.3) 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes moveBicycle {
  0% {
    transform: translateX(-50px);
  }
  25% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(50px) rotate(-15deg);
  }
  80% {
    transform: translateX(50px) rotate(0);
  }
  100% {
    transform: translateX(-50px);
  }
}

#bike-anim {
  animation: moveBicycle 2s infinite linear;
}
