{% extends "layout.html" %} {% block title %}Comunidad{% endblock %}{% block
header %}
<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="{{ url_for('static', filename='img/Logo.png') }}"
      alt="CicloPlanner Logo"
      width="32"
      height="32"
      class="ms-4 me-2"
    />

    <span class="fs-4">CicloPlanner</span>
  </a>
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a href="/community"
      ><button type="button" class="btn btn-primary">Comentarios</button></a
    >

    <div class="dropdown text-end mx-4">
      <a
        href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ url_for('static', filename=userImg) }}"
          alt="Foto de perfil del usuario"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small">
        <li>
          <a class="dropdown-item" href="/community/routes">Mis rutas</a>
        </li>
        <li>
          <a class="dropdown-item" href="/community/profile">Mi perfil</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>
{% endblock %} {% block content %}
<div class="container">
  <h1 class="display-5 fw-bold lh-1 mb-3" style="margin-top: 40px">
    Comunidad
  </h1>
  <p class="lead">
    Seccion donde puedes encontrar comentarios, recomendaciones y avisos de
    servicio para Gestión de ciclistas, encontraras amigos y comapañeros de
    ruta.
    <br />¿Que esperas?, haz tu comentario.
  </p>
  <button
    class="btn btn-primary has-icon btn-block"
    type="button"
    data-toggle="modal"
    data-target="#threadModal"
  >
    <i class="bx bx-plus"></i>
    Nuevo comentario
  </button>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">María_23</a></h5>
      <p class="card-text">
        ¡Excelente iniciativa! Estoy emocionada por tener una herramienta que
        finalmente nos ayude a planificar rutas seguras y conectadas. ¡A
        pedalear por ciudades más amigables con las bicis!
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">2 horas</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">CarlosCiclovia</a></h5>
      <p class="card-text">
        Me encantaría ver un mapeo detallado de las ciclovías, especialmente
        aquellas que se integran con el transporte público. ¡Es hora de unir
        fuerzas para una movilidad más verde!
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">4 horas</span>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">AventurasEnBici</a></h5>
      <p class="card-text">
        ¡Alertas de seguridad! Eso es lo que necesitamos. Espero que esta
        aplicación nos ayude a evitar esas intersecciones caóticas y mantenernos
        al tanto del clima. ¡Gran proyecto!
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">6 horas</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">PedaleandoVerde</a></h5>
      <p class="card-text">
        ¿Una comunidad ciclista en línea? ¡Increíble! Sería genial compartir mis
        rutas favoritas y aprender de otros ciclistas urbanos. Juntos podemos
        marcar la diferencia.
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">9 horas</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">RuedasSeguras</a></h5>
      <p class="card-text">
        La seguridad es primordial para todos nosotros. Si esta aplicación puede
        ayudarnos a identificar las zonas peligrosas, definitivamente la
        utilizaré. ¡Gracias por pensar en nosotros, ciclistas!
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">12 horas</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">BiciUrbana123</a></h5>
      <p class="card-text">
        No puedo esperar para trazar mis rutas y encontrar nuevas vías para
        llegar a mi trabajo. Con más ciclovías y menos autos en la carretera, el
        futuro se ve brillante.
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">1 día</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">CiclistaComprometido</a></h5>
      <p class="card-text">
        Como ciclista de años, esto es un sueño hecho realidad. La colaboración
        entre ciclistas y diseñadores puede llevarnos a una ciudad más amigable
        con bicicletas. Estoy emocionado.
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">2 días</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">RosaEnBici</a></h5>
      <p class="card-text">
        Espero que esta plataforma fomente el respeto mutuo en las vías. Como
        ciclistas, debemos ser conscientes de las reglas de tránsito, ¡y los
        conductores también! Juntos podemos compartir la carretera de manera
        segura.
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">3 días</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title"><a href="">PedalFeliz</a></h5>
      <p class="card-text">
        ¡Felicidades por tomar medidas hacia un cambio positivo! El ciclismo no
        solo beneficia al medio ambiente, sino también a nuestra salud. Contad
        conmigo para apoyar esta causa.
      </p>
      <p class="text-muted">
        respondió hace
        <span class="text-secondary font-weight-bold">4 días</span>
      </p>
    </div>
  </div>
</div>
{% endblock %}
