{% extends "layout.html" %} {% block title %}Comunidad{% endblock %}{% block
header %}
<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="{{ url_for('static', filename='img/Logo.png') }}"
      alt="CicloPlanner Logo"
      width="32"
      height="32"
      class="ms-4 me-2"
    />

    <span class="fs-4">CicloPlanner</span>
  </a>
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a href="/community"
      ><button type="button" class="btn btn-primary">Comentarios</button></a
    >

    <div class="dropdown text-end mx-4">
      <a
        href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ url_for('static', filename=userImg) }}"
          alt="Foto de perfil del usuario"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small">
        <li>
          <a class="dropdown-item" href="/community/routes">Mis rutas</a>
        </li>
        <li>
          <a class="dropdown-item" href="/community/profile">Mi perfil</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>
{% endblock %} {% block content %}
<div class="container">
  <h1 class="display-5 fw-bold lh-1 mb-3" style="margin-top: 40px">
    Comunidad
  </h1>
  <p class="lead">
    Seccion donde puedes encontrar comentarios, recomendaciones y avisos de
    servicio para Gestión de ciclistas, encontraras amigos y comapañeros de
    ruta.
    <br />¿Que esperas?, haz tu comentario.
  </p>
  <button
    class="btn btn-primary has-icon btn-block"
    type="button"
    onclick="nuevoComentario()"
  >
    <i class="bx bx-plus"></i>
    Nuevo comentario
  </button>
</div>

<div class="container">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="card-title">
        (User que comento)
        <button
          type="button"
          class="btn btn-outline-danger"
          onclick='{
            deleteComment(comentario.id);
            mostrarModal("Comunidad", "Comentario eliminado");
          }'
        >
          <i class="bx bx-trash"></i>
        </button>
      </h5>
      <p class="card-text">(contenido de comentario)</p>
      <p class="text-muted">
        respondió hace<span class="text-secondary font-weight-bold"
          >(tiempo desde que comento)</span
        >
      </p>
    </div>
  </div>
</div>

{% endblock %} {% block scripts%}
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/generarComentarios.js') }}"></script>
{% endblock %}
