{% extends "layout.html" %} {% block content %}
<section id="hero" class="bg-1 d-flex flex-column justify-content-center mb-4">
  <div class="text-center">
    <svg
      id="bike-anim"
      xmlns="http://www.w3.org/2000/svg"
      width="72"
      height="72"
      fill="currentColor"
      class="bi bi-bicycle d-block mx-auto mb-4"
      viewBox="0 0 16 16"
      style="margin: 0 30px"
    >
      <path
        d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"
      />
    </svg>
    <h1 class="display-5 fw-bold">Movilidad Sostenible y Ciclovías Seguras</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5">Pedalea con confianza, planifica con CicloPlanner.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/login">
          Ir a comunidad
        </a>
      </div>
    </div>
  </div>
</section>

<section id="mapas" class="bg">
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          Mapa de Ciclorutas en Barranquilla
        </h1>
        <p class="lead">
          A continuación se muestra el mapa con las diferentes ciclorutas en
          Barranquilla, indicando su ubicación en andén, carril preferente,
          calzada y ciclobanda.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <img
          class="rounded-3"
          src="{{ url_for('static', filename='img/Rutas.jpg') }}"
          alt="Ciclorutas en Barranquillas"
          height="516"
        />
      </div>
    </div>
  </div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5">
      <div class="col-lg-5 text-center text-lg-start">
        <!--TRABAJANDO FORM-->

        <form
          class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
          data-bitwarden-watching="1"
          onsubmit="return buscarRuta()"
        >
          <div class="form-floating mb-3">
            <h1 class="display-8 fw-bold lh-1 mb-3">Planificación de rutas</h1>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="dir_1" placeholder="" />
            <label for="dir_1">Direccion de salida</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="dir_2" placeholder="" />
            <label for="dir_2">Direccion de destino</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" id="guardarRuta" /> ¿Desea guardar esta
              ruta?
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Buscar
            <i class="bx bx-search-alt"></i>
          </button>
          <hr class="my-4" />
          <small class="text-muted">Alertas:</small>
        </form>

        <!--TRABAJANDO FORM-->
      </div>
      <div class="col-md-10 mx-auto col-lg-7">
        <div id="mapa" style="width: 100%; height: 400px"></div>
      </div>
    </div>
  </div>
</section>
<section id="alertas" class="bg">
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Alertas de Seguridad</h1>
        <p class="lead">
          Implementamos un sistema de alertas para ciclistas. Te mantendremos
          informado sobre zonas peligrosas, intersecciones conflictivas y
          cambios climáticos en las ciclorutas. Puedes activarlo marcando la
          casilla
        </p>
      </div>
      <div class="container-fluid mt-5 col-sm-12 col-lg-6">
        <img
          src="{{ url_for('static', filename='img/map_danger.png') }}"
          alt="Zonas peligrosas en Barranquilla"
          class="d-block mx-lg-auto img-fluid rounded-3"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
<section
  id="quienes-somos"
  class="mt-4 d-flex flex-column justify-content-center"
>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-5 fw-bold lh-1 mb-3">¿Que es CicloPlanner?</h1>
        <p class="lead">
          En CicloPlanner, estamos comprometidos con la movilidad sostenible y
          la seguridad de los ciclistas en nuestra ciudad en crecimiento.
          Nuestra plataforma en línea ofrece mapas y rutas de ciclovías, alertas
          de seguridad y una comunidad ciclista unida. Nuestro objetivo es
          fortalecer a los ciclistas urbanos, brindándoles herramientas para
          viajes seguros y conexiones significativas. Únete a nosotros para
          transformar juntos la manera en que nos movemos por la ciudad,
          priorizando la seguridad y la comunidad.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-6"></div>
    </div>
  </div>
</section>

{% endblock %} {% block scripts%} {% endblock %}
