{% extends "layout.html" %} {% block title %}Inicia en comunidad{% endblock %}{%
block header %}{% endblock %} {% block content %}
<section
  class="bg-1 d-flex flex-column justify-content-center"
  style="height: 100vh"
>
  <div class="col-md-10 mx-auto col-lg-5">
    <form
      class="p-4 px-md-5 border rounded-3 bg-body-tertiary"
      data-bitwarden-watching="1"
      onsubmit="return validarLogin()"
      method="POST"
      action="/login"
    >
      <div class="container d-flex flex-column align-items-center my-3">
        <img
          src="{{ url_for('static', filename='img/Logo.png') }}"
          alt="CicloPlanner Logo"
          width="180"
          height="180"
        />
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="loginUser"
          name="username"
          placeholder="Usuario"
        />
        <label for="loginUser">Usuario</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          name="password"
          placeholder="Contraseña"
        />
        <label for="loginPassword">Contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
      <hr class="my-4" />
      <div class="container d-flex flex-column align-items-center">
        <small><a href="/register">¿Aun no tienes una cuenta?</a></small>
      </div>
    </form>
  </div>
</section>

<!--MODAL-->
<div
  class="modal fade"
  id="modalWeb"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalWebLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalWebLabel">
          <p id="titulo_modal">Titulo</p>
        </h5>

        <button type="button" class="btn btn-primary" onclick="cerrarModal()">
          x
        </button>
      </div>
      <div class="modal-body">
        <p id="contenido_modal">Contenido</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
