{% extends "layout.html" %} {% block content %}

<!--MODAL-->
<div
  class="modal fade"
  id="modalWeb"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalWebLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalWebLabel">
          <p id="titulo_modal">Titulo</p>
        </h5>

        <button type="button" class="btn btn-primary" onclick="cerrarModal()">
          x
        </button>
      </div>
      <div class="modal-body">
        <p id="contenido_modal">Contenido</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
