{% extends 'layout.html'%} {% block header %}
<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="{{ url_for('static', filename='img/Logo.png') }}"
      alt="CicloPlanner Logo"
      width="32"
      height="32"
      class="ms-4 me-2"
    />

    <span class="fs-4">CicloPlanner</span>
  </a>
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a href="/community"
      ><button type="button" class="btn btn-primary">Comentarios</button></a
    >

    <div class="dropdown text-end mx-4">
      <a
        href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ url_for('static', filename=userImg) }}"
          alt="Foto de perfil del usuario"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small">
        <li>
          <a class="dropdown-item" href="/community/routes">Mis rutas</a>
        </li>
        <li>
          <a class="dropdown-item" href="/community/profile">Mi perfil</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>
{% endblock %}{% block content %}

<section class="bg d-flex flex-column justify-content-center my-4">
  <div class="col-md-10 mx-auto col-lg-5">
    <div
      class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
      data-bitwarden-watching="1"
    >
      <div class="form-floating mb-4">
        <h1 class="display-8 fw-bold lh-1 mb-3">Bienvenido {{userName}}.</h1>
      </div>

      <button
        class="w-100 btn btn-primary my-2"
        id="cambiarUsuarioBtn"
        onclick="cambiarUsername()"
      >
        Cambiar nombre de usuario
      </button>
      <div class="form-floating mt-2">
        <label for="">Cambiar contraseña</label>
        <input
          type="text"
          class="form-control"
          id="changePassword"
          placeholder=""
        />
        <button
          class="w-100 btn btn-primary my-2"
          onclick=" cambiarPassword() "
        >
          Cambiar contraseña
        </button>
      </div>
      <button class="w-100 btn btn-primary mt-2 mb-4">
        Cambiar foto de perfil
      </button>
      <button
        class="w-100 btn btn-danger my-2"
        onclick=" eliminarComentarios() "
      >
        Eliminar todos mis comentarios
      </button>
      <button class="w-100 btn btn-danger my-2" onclick=" eliminarRutas() ">
        Eliminar todas mis rutas
      </button>
      <button class="w-100 btn btn-danger my-2" onclick=" eliminarCuenta() ">
        Eliminar mi cuenta
      </button>
    </div>
  </div>
</section>
{% endblock %} {% block scripts%}
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<script src="{{ url_for('static', filename='js/routes.js') }}"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}
