{% extends "layout.html" %} {% block header %}
<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="{{ url_for('static', filename='img/Logo.png') }}"
      alt="CicloPlanner Logo"
      width="32"
      height="32"
      class="ms-4 me-2"
    />

    <span class="fs-4">CicloPlanner</span>
  </a>
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a href="/community"
      ><button type="button" class="btn btn-primary">Comentarios</button></a
    >

    <div class="dropdown text-end mx-4">
      <a
        href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ url_for('static', filename=userImg) }}"
          alt="Foto de perfil del usuario"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small">
        <li>
          <a class="dropdown-item" href="/community/routes">Mis rutas</a>
        </li>
        <li>
          <a class="dropdown-item" href="/community/profile">Mi perfil</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>
{% endblock %}{% block content %} {% endblock %}
